body {
  border-color: rgb(160, 160, 245);
  border-radius: 10px;
  box-sizing: border-box;
}
h1 {
  color: #939ea8;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  text-transform: capitalize;
  padding-top: 10px;
}
h2 {
  color: rgb(1, 1, 46);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  padding: 10px;
}
h4 {
  color: rgb(160, 160, 245);
  font-family: "Lexend", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
h3 {
  color: rgb(1, 1, 46);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}
.icon {
  display: center;
  font-size: 80px;
  width: 50%;
  align-items: baseline;
  align-self: center;
  margin: 0 auto;
}
h5 {
  color: rgb(160, 160, 245);
  font-family: "Lexend", sans-serif;
  text-align: right;
  font-weight: 500;
  font-size: 24px;
  padding-right: 335px;
}
h6 {
  color: rgb(1, 1, 46);
  font-family: "Lexend", sans-serif;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 250px;
}
li {
  color: rgb(1, 1, 46);
  font-family: "Lexend", sans-serif;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  padding-right: 250px;
  list-style: none;
}
ul {
  list-style: none;
  list-style-position: unset;
}
.days {
  font-family: "Lexend", sans-serif;
  color: rgb(1, 1, 46);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.icons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}
.temperatures {
  font-family: "Lexend", sans-serif;
  color: rgb(160, 160, 245);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 30px;
}
.btn {
  background-color: rgb(160, 160, 245);
  background-size: 80%;
  border-color: rgb(160, 160, 245);
}
.d-grid {
  block-size: 30px;
  padding-left: 150px;
  padding-right: 150px;
}
.temp .active {
  color: rgb(1, 1, 46);
  cursor: default;
}
.temp .active:hover {
  text-decoration: none;
}
